<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Kmall login</title>
	<meta name="keywords" content="HTML5,美观,简洁大气,响应式,第三方登录,网页模板" />
	<meta name="description" content="HTML5美观简洁大气响应式带第三方登录网页模板下载。鼠标经过登录按钮带紫色渐变炫酷动画效果。带有简单的表单验证功能。" />

	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>

<div class="limiter">
	<div class="container-login100" style="background-image: url('/static/images/bg-01.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
			<form action="login"  id="formregistry" onsubmit="LOGIN.registry()" method="post" class="login100-form validate-form">
				<div class="wrap-input100 validate-input" data-validate="请输入用户名">
					<span class="label-input100">用户名</span>
					<input id="username" class="input100" type="text" name="username" placeholder="请输入用户名" autocomplete="off">
					<span class="focus-input100" data-symbol="&#xf206;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="请输入邮箱">
					<span class="label-input100">邮箱</span>
					<input id="email" class="input100" type="text" name="email" placeholder="请输入邮箱">
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="请输入手机号码">
					<span class="label-input100">手机号码</span>
					<input id="phone" class="input100" type="text" name="phone" placeholder="请输入手机号码">
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="请输入密码">
					<span class="label-input100">密码</span>
					<input id="password" class="input100" type="password" name="password" placeholder="请输入密码">
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="请再一次输入密码">
					<span class="label-input100">请再一次输入密码</span>
					<input id="password1" class="input100" type="password" name="password1" placeholder="请再一次输入密码">
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>


				<div class="container-login100-form-btn" style ="margin: 20px">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<!--<input type="submit" class="login100-form-btn btn btn-primary" value="提交"></input>-->
						<button  id="registry" class="login100-form-btn">注册</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>

<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/static/js/main.js"></script>
<script type="text/javascript" th:inline="javascript">
    var redirectUrl =[[${redirect}]];   //现在的thymeleaf的方式
    //var redirectUrl = "${redirect}";   以前JS读取方式
    var LOGIN = {
        checkInput:function() {
            if ($("#username").val() == "") {
                alert("用户名不能为空");
                $("#username").focus();
                return false;
            }
            if ($("#password").val() == "") {
                alert("密码不能为空");
                $("#password").focus();
                return false;
            }
            if ($("#email").val() == "") {
                alert("邮箱不能为空");
                $("#email").focus();
                return false;
            }
            if ($("#phone").val() == "") {
                alert("手机号码不能为空");
                $("#phone").focus();
                return false;
            }
            if ($("#password").val() != $("#password1").val()) {
                alert("两次密码不相同，请确认！");
                $("#password1").focus();
                return false;
            }
            return true;
        },
        doRegistry:function() {
            //alert(1111111);
            $.post("/user/doRegistry", $("#formregistry").serialize(),function(data){
                if (data.status == 200) {
                    alert("注册成功！");
					location.href = "http://localhost:8082";
                } else {
                    alert("注册失败，原因是：" + data.msg);
                   // $("#loginname").select();
                }
            });
        },
        registry:function() {
            //alert("进入校验");
            if (this.checkInput()) {
                //alert("进行注册！");
                this.doRegistry();
            }
        }

    };
    $(function(){
        aler("2222222222222");
        $("#registry").click(function(){
            aler("点击链接");
            LOGIN.registry();
            return false;
        });
    });
</script>


</body>

</html>